*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.propage1{
    width: 100%;
    height: 100vh;
    position: relative;
}
.bg1{
    width: 70%;
    height: 130vh;
    /* background-color: red; */
    margin-left: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    margin-top: -13vw;
    margin-left: 35vw;
}
nav{
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* background-color: red; */
} 
.subnav{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leftnav{
    width: 37%;
    height: 100%;
    display: flex;
    align-items: center;
}
.rightnav{
    width: 63%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rightnav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.524);
    font-size: 15px;
}
.rightnav a:hover{
    cursor: pointer;
}
.rightnav button{
    width: 10vw;
    height: 3vw;
    border-radius: 20px;
    background-color: #081158;
    border: none;
    color: goldenrod;
}
.page1{
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
}

.left1{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    /* padding-left: 4vw; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    padding: 7vw 9vw;
    gap: 2vw;
}
.left1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.left1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    line-height: 1.5vw;
    color: rgba(0, 0, 0, 0.378);
    font-weight: 500;
}
.upbut{
    width: 12vw;
    height: 1.5vw;
    border-radius: 20px;
    font-size: 10px;
    background-color: #FEF0DA;
    color: #FBB74F;
    border: none;
}
.buttonP1{
    width: 24vw;
    height: 4vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between
}
.buttonP1 button{
    width: 11.5vw;
    border-radius: 30px;
   
    font-size: 15px;
}
.bp1{
    background-color: #081158;
    color: white;
    border: none;
}
.bp1:hover{
    border: 1px solid #081158;
    color: #08115898;
    background-color: white;
    cursor: pointer;
}
.bp2{
    border: 1px solid #081158;
}
.bp2:hover{
    background-color: #081158;
    color: white;
    cursor: pointer;
}
.right1{
    width: 50%;
    height: 100%;
}
.right1 img{
    width: 80%;
    height: 80%;
    padding-top: 8vw;
}
.page2{
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.8vw;
}
.top2{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
}
.p2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top2 button{
    font-size: 10px;
    border-radius: 30px;
    width: 6vw;
    height: 1.5vw;
    border: none;
    background-color: #FEF0DA;
    color: #FBB74F;
    font-weight: 700;
}
.top2 h1{
    font-size: 40px;
    color: #081158;
}
.top2 p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.538);
    line-height: 1.5vw;
}
.botom2{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgtxt img{
    width: 7vw;
    height: 8vw;
}

.imgtxt p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.359);
    line-height: 1.5vw;
}
.imgtxt{
    width: 30%;
    height: 100%;
    text-align: center;
}
.page3{
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
}
.left3{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left3 img{
    width: 80%;
    height: 60vh;
}
.right3{
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
}
.right3 .b1{
    width: 6.5vw;
    height: 1.5vw;
    border-radius: 30px;
    border: none;
    background-color: #FEF0DA;
    color: #FBB74F;
}
.right3 h1{
    font-size: 40px;
    color: #081158;
    font-weight: 790;
}
.right3 p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.341);
    line-height: 1.5vw;
}
.right3 .b2{
    width: 9vw;
    height: 4vw;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #081158;
    font-size: 15px;
}
.right3 .b2:hover{
    border: 1px solid #081158;
    color: #081158;
    cursor: pointer;
    background-color: white;
}
.page4{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 4.5vw;
}
.top4{
    text-align: center;
}
.top4 button{
    width: 8vw;
    height: 2vw;
    border-radius: 30px;
    border: none;
    background-color: #FEF0DA;
    color: #FBB74F;
    font-weight: 700;
}
.top4 h1{
    font-size: 40px;
    color: #081158;
}
.bottom4{
    width: 60%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.subbotom4{
    width: 29vw;
    height: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    border: 1px solid rgba(0, 0, 0, 0.082);
}
.subbotom4 img{
    width: 5vw;
    margin-top: -5.5vw;
}
.subbotom4 p{
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.423);
    line-height: 1.5vw;
}
.page5{
    width: 100%;
    height: 100vh;
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4.5vw;
}
.top5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1vw;
}
.top5 button{
    width: 9vw;
    border-radius: 30px;
    height: 2vw;
    background-color: #F8EBD6;
    color: #FBB74F;
    border: none;
    
}
.top5 h1{
    font-size: 40px;
    color: #081158;
}
.top5 p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}
.bottom5{
    width: 82%;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
}
.subbotom5{
    width: 27vw;
    height: 21vw;
    background-color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 0 4vw;
    gap: 2vw;
    overflow: hidden;
}
.subbotom5 p{
    font-size: 17.5px;
    color: rgba(0, 0, 0, 0.464);
    line-height: 2vw;
}
.imgtxt5{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.img5{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    
}
.img5 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.imgtxt5 .p2{
    font-size: 15.5px;
    color: rgba(0, 0, 0, 0.424);
}
.subbotom5:hover{
    border: 1px solid black;
}
.under5{
    width: 1px;
    height: 1px;
    background-color: #081158;
}
footer{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.topf{
    width: 80%;
    height: 26vh;
    /* background-color: red; */
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
}
.leftf{
    width: 28vw;
    height: 100%;
    /* background-color: red; */
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
}
.leftf p{
    color: rgba(0, 0, 0, 0.622);
    font-size: 15px;
}
.iconf{
    display: flex;
    gap: 0.3vw;
}
.if1{
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    background-color: #081158;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightf{
    width: 53vw;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.pf1{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.pf1 p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.471);
} 
.pf1 p:hover{
    color: black;
    cursor: pointer;
}
.bottomf{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7vw 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.464);
}
.bottomf i{
    color: red;
}